
<aside class=" main-sidebar hold-transition skin-blue sidebar-mini" >
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">

      <!--         ---------------------------- Page Accueil --------------------------->
      <li  class="active treeview menu-open">
        <a routerLink="/home">
          <i class="fa fa-dashboard" ></i> <span>Page d'accueil</span>
        </a>

      </li>

      <!------------------------------------comptes Rendu   -------------------------- -->


      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Comptes Rendu </span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/compteRendu">Nouveau Compte Rendu</a></li>
          <li><a routerLink="/listComptesRendu">Liste des comptes rendu</a></li>
          <li><a routerLink="/listMesComptesRendu">Liste de mes comptes</a></li>
        </ul>
      </li>

      <!--           --------------------------------------        -->


      <li class="treeview">
        <a href="#">
          <i class="fa fa-table"></i> <span>Chantiers</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/nouveauChantier"><i class="fa fa-circle-o"></i> Nouveau Chantier</a></li>
          <li><a routerLink="/listChantiers"><i class="fa fa-circle-o"></i> Liste des chantiers</a></li>
        </ul>
      </li>

      <!------------------------------------------- Mail ---------->
      <li>
        <a routerLink="/mailbox">
          <i class="fa fa-envelope"></i> <span>Mailbox</span>
          <span class="pull-right-container">

            </span>
        </a>
      </li>

      <!------------------------------------------------- -->


      <li><a routerLink="/documentation"><i class="fa fa-book"></i> <span>Documentation</span></a></li>

    </ul>

  </section>
  <!-- /.sidebar -->

</aside>

