<app-appheader  *ngIf="authService.isLoggedIn()" ></app-appheader>
<section *ngIf="authService.isLoggedIn()" class="content">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</section>

<app-appmenu *ngIf="authService.isLoggedIn()"></app-appmenu>

<!-- Content Wrapper. Contains page content -->

  <!-- Content Header (Page header) -->


  <!-- Main content
   il faut chercher ou le pb dans *ngIf="isLoggedIn$ | async"
   -->


<app-appsettings *ngIf="authService.isLoggedIn()" ></app-appsettings>
<app-appfooter *ngIf="authService.isLoggedIn()"></app-appfooter>

<app-authentification *ngIf="!authService.isLoggedIn()"></app-authentification>
