<app-appheader  *ngIf="isLoggedIn$ | async" ></app-appheader>
<section *ngIf="isLoggedIn$" class="content">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</section>

<app-appmenu  *ngIf="isLoggedIn$ | async" ></app-appmenu>

<!-- Content Wrapper. Contains page content -->

  <!-- Content Header (Page header) -->


  <!-- Main content
   il faut chercher ou le pb dans *ngIf="isLoggedIn$ | async"
   -->


<app-appsettings  *ngIf="isLoggedIn$ | async" ></app-appsettings>
<app-appfooter *ngIf="isLoggedIn$ | async " ></app-appfooter>

<app-authentification *ngIf="isLoggedIn$==false"></app-authentification>
