<div class="content">

  <section class="content-header">
    <h1>
     Lydec
      <small>Lydec</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/home"><i class="fa fa-dashboard"></i>Home</a></li>
    </ol>
  </section>


  <div class="content">

        <div id="#imgs">
          <marquee scrollmount="6" scolldelay="6" truespeed="truespeed" behavior="alternate"  >
            <img src="../../assets/home/1.jpg" width="50%" height="500px"/>
            <img src="../../assets/home/2.jpg" width="50%" height="500px"/>
            <img src="../../assets/home/3.jpg" width="50%" height="500px"/>
            <img src="../../assets/home/4.jpg" width="50%" height="500px"/>
            <img src="../../assets/home/5.jpg" width="50%" height="500px"/>
          </marquee>
          <div class="content">
            <div class="col-md-6">
              <div class="card">
                <div class="header"><strong>Notre mission</strong></div>
                <div class="body ">
                  La LYDEC (Lyonnaise Des Eaux de Casablanca) est une filiale de Suez Lyonnaise des Eaux.
                  Le 15 avril 1997, elle s’est vu confier la gestion déléguée de la distribution d’électricité,
                  d’eau potable et du service d’assainissement liquide à Casablanca et à Mohammedia.<br>
                  Depuis le début, elle a mobilisé tous ses moyens pour offrir un service de qualité aux habitants.
                  Les actions et les investissements se sont multipliés pour doter la ville d'infrastructures à la mesure de son développement,
                  moderniser les services à la clientèle à travers une meilleure qualité d'accueil et une facturation modernisée et fiable,
                  lutter contre les inondations et sécuriser les installations électriques.<br>
                  Poursuivant son engagement auprès de ses clients, LYDEC continue à investir dans les nouvelles technologies en lançant
                  le paiement des factures par internet. Avec ce système de paiement, le client bénéficie de plusieurs avantages tels un service gratuit
                  et accessible 24  heures sur 24 et 7 jours sur 7, que ce soit au Maroc ou à l'extérieur du pays. Une opération enregistrée en temps réel,
                  rapide et sécurisée.
                  Nos activités sont structurantes. Elles jouent un rôle majeur dans l'urbanisation à long terme, dans la conception de l'agglomération de demain.
                  Experts dans nos métiers, nous participons à la réalisation des schémas directeurs de la ville et à l'élaboration de standards
                  (en termes de qualité d'installation, de technologies…).
                  Notre objectif est de fournir en continu un service de qualité à nos clients, tout en anticipant et en accompagnant le développement
                  de l'agglomération.
                </div>
              </div>

            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="header"><strong>Activité</strong></div>
                <div class="body">
                  <img src="../../assets/home/8.jpg" /><!--il faut régler le style de l'image-->
                </div>
              </div>

            </div>

          </div>

        </div>














      </div>
</div>
