<div class="content">

  <section class="content-header">
    <h1>
     Lydec
      <small>Lydec</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/home"><i class="fa fa-dashboard"></i>Home</a></li>
    </ol>
  </section>


  <div class="content">
        <div id="#imgs">
          <marquee scrollmount="6" scolldelay="6" truespeed="truespeed" behavior="alternate"  >
            <img src="../../assets/home/1.jpg" width="50%" height="400px"/>
            <img src="../../assets/home/2.jpg" width="50%" height="400px"/>
            <img src="../../assets/home/3.jpg" width="50%" height="400px"/>
            <img src="../../assets/home/4.jpg" width="50%" height="400px"/>
            <img src="../../assets/home/5.jpg" width="50%" height="400px"/>
          </marquee>
          </div>
  </div>

  <!--<div class="content">
    <popup>
      Add your custom html elements here
    </popup>
    <button (click)="ClickButton">Popup</button>
  </div>-->

  <div class="panel panel-primary">
    <div class="panel-heading">About</div>
    <div class="panel-body">
      <div>
        <h3>Infos : </h3>
        <ul class="list-group">
          <li class="list-group-item">Nom : <strong>{{infos.name}}</strong></li>
          <li class="list-group-item">Email : <strong>{{infos.email}}</strong></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <div class="form-group">
          <label class="control-label">Message : </label>
          <input type="text" [(ngModel)]="commentaire.message">
          <button [disabled]="!commentaire.message" class="btn btn-primary" (click)="onAddCommentaire()">Ajouter Commentaire</button>
        </div>
      </div>
      <h3>Commentaires : </h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let c of comments">
          {{c.message}},
          <span class="badge">{{c.date|date:'dd/MM/yyyy:HH:mm:ss'}}</span>

        </li>
      </ul>
    </div>
  </div>
</div>
