<div class="container">
  <section class="content-header">
    <h1>
     Lydec
      <small>Lydec</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/home"><i class="fa fa-dashboard"></i>Home</a></li>
    </ol>
  </section>


  <div class="container spacer">
    <div class="panel panel-primary">
      <div class="panel-heading">Home</div>
      <div class="panel-body">
        <p>Name : <strong>{{infos.name}}</strong></p>
        <p>Email : <strong>{{infos.email}}</strong></p>
      </div>
    </div>



  </div>

</div>
